.carousel-item {
    height: 80vh;

    /* width: 100vw; */
    /* max-height: 850px; */
    
}
  
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
  
.carousel {
/* opacity: .5; */
}

.gian-text {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4B3F34;
    z-index: 2;
    font-size: clamp(16px, 14vw, 150px);;
    text-align: center;
    opacity: 1;
    line-height: 1;
    font-weight:500;
    text-shadow: 3px 3px 3px #b49264;
    background-color: rgba(255, 255, 255, 0.526);
    padding: 30px;
    border-radius: 30%;
}

.categories {
    display: flex;
    flex-direction: column;
}

.cat-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 5px solid#b49264;
    border-bottom: 8px double#b49264;
    padding-bottom: 15px;
    padding-top: 15px;
}

.cat-tabs button {
    background: white;
    text-shadow: 1px 1px 1px #b49264;
    border: none;
    margin-left: 6px;
    margin-right: 6px;
    font-size: clamp(14px, 2vw, 150px);;
    border-bottom: 2px solid transparent;
}

.cat-tabs button:hover {
    border-bottom: 2px solid#b49264; 
}

.subtab-content {
    padding-top: 15px;
}

.subtab-titles {
    display: flex;
    justify-content: center;
    font-size: clamp(20px, 4vw, 50px);
    text-shadow: 2px 2px 2px #b49264;
    font-weight:500;
}

.card-container {
    margin: 10px;
}

.card {
    border: solid 1px #b49264;
}

/* .dark-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: .5;
  } */