body {
  font-family: 'NewYork';
  color: #4B3F34;
}

.navbar {
  border-bottom:5px solid #b49264;
  padding: 0;
}

.navbar img {
  display: flex;
  justify-content: flex-start;
  min-width: 100px;
  width: 10vw;
  margin: 10px;
  margin-left: 10px;
}

.nav-tabs {
  display: flex;
  justify-content: flex-end; 
  
}

.nav-tabs button {
  background: white;
  text-shadow: 1px 1px 1px#b49264;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: clamp(14px, 2vw, 150px);;
  margin-right: 12px; 
}

.nav-tabs button:hover {
  border-bottom: 2px solid#b49264; 
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0; 
  position: relative;

}

footer {
  margin-top: auto; /* Push the footer to the bottom of the container */
  background-color: #f1f1f1; /* Add a background color for better visibility */
  padding: 10px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
